
/*General*/
a{
  color: black;
  text-decoration: none;
}

body{
  background: url(../lib/dock2.jpg) no-repeat 50% 50%;
  background-color: #BFBFBF;
}

/*Header*/
.header h1{
  font-family:"Orbitron", "Trench", sans-serif;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  color: #999;
}

.header p{
  color: #666;
  text-transform: lowercase;
  text-align: center;
  font-family:"Walkway Expand", "Steiner", sans-serif;
}

/*Content*/
.site-text{
  text-align: center;
  font-family:"Orbitron", "Trench", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  color: black;
}


/*
sticky footer
*/
* {
margin: 0;
}

html, body {
height: 100%;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}

.footer, .push {
height: 4em;
}

.contact-info{
  margin: 50px 0 16px 0;
  text-align: center;
  list-style-type: none;  
  padding: 5px;
}

.contact-info li{
  display: inline;
}

.contact-info li a{  
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  padding: 35px;
  margin: 0 0 10px;
}

.contact-info li.mail a{
  background-image: url('../lib/mail.png');
}

.contact-info li.twitter a{
  background-image: url('../lib/twitter.png');
}

.contact-info li.linkedIn a{
  background-image: url('../lib/linkedin.png');
}

.contact-info li.GitHub a{
  background-image: url('../lib/github.png');
}
