/*TO achieve full responsive backgroun*/
body {
  /* Location of the image */
  background-image: url(../lib/dock2.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

.contact-info li.mail a{

  background-image: url('../lib/mail.png');
}

.contact-info li.twitter a{

  background-image: url('../lib/twitter.png');

}

.contact-info li.linkedIn a{

  background-image: url('../lib/linkedin.png');

}

.contact-info li.GitHub a{

  background-image: url('../lib/github.png');

}


a{
  color: black;
  text-decoration: none;
}

.site-text{
  text-align: center;
  font-family:"Orbitron", "Trench", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  color: black;
}


/*
sticky footer
*/


.contact-info{
  margin: 50px 0 16px 0;
  text-align: center;
  list-style-type: none;  
  padding: 5px;
}

.contact-info li{
  display: inline;
}


.contact-info li a{  
  background: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 10px 35px;
  margin: 0 0 10px;
}



.header h1{
  font-family:"Orbitron", "Trench", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  color: #999;
}

.header span{
  color: #666;
  text-transform: lowercase;
  text-align: center;
  font-size: .5em;
  font-family:"Walkway Expand", "Steiner", sans-serif;
  letter-spacing: 1.25em;
}

 h1{
  letter-spacing: 2em;
  font-family:"Walkway Expand", "Champagne & Limousines", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  color: #666;
}


