body{
	width: 100%;
	background-color: rgba(0, 0, 0, .75);
	text-align: center;
}

.header-img{
	margin:0 auto 1em auto;
	width:100%;
}

.navbar{
	margin-bottom:0;
}

.logo_wrapper{
	text-decoration: none;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.logo_wrapper, div a:visited{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 2.5em;
	font-family: 'Great Vibes', cursive;
	width: 15%;
	float: left;
   color:white;
   margin-right:20px;
}

div a:hover{
	text-decoration:none;
	
}
h2{
	margin-bottom: .65em;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.articles{
	display: inline-block;
	margin: 0 auto;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding:20px;
	font-size: 1.3em;
}
.survey{
	display: inline-block;
}

.google-map {
	display: inline-block;
	float: right;
}

.social-logo{
  width:20px;
  height:20px;
  margin:0 5px;
}


.site-footer{
	text-align:center;
	max-width: 100%;
	background-color:rgba(0, 0, 0, .90);
	color: #505E7D;
	margin-top:1.75em;
}

.google-maps {
	position: relative;
	padding-bottom: 45%; 
	height: 0;
	overflow: hidden;
}


.google-maps iframe {
	position: absolute;
	top: 10%;
	left: 12%;
	width: 75% !important;
	height: 90% !important;
}


@media screen and (min-width:480px){

	.google-maps iframe{
		top: 10%;
		left: 19%;
		width: 60% !important;
		height: 80% !important;
	}


}













