.header-img{
	margin:0 auto 50px auto;
	width:100%;
}

.navbar{
	margin-bottom: 0px;
}

.social-logo{
	text-align: center;
}

body{
	background-color: rgba(0, 0, 0, .75);
	text-align: center;
}

.logo_wrapper{
	text-decoration: none;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.logo_wrapper, div a:visited{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 2.5em;
	font-family: 'Great Vibes', cursive;
	width: 15%;
	float: left;
   color:white;
   margin-right:20px;
}

div a:hover{
	text-decoration:none;
}

#offerings_table, h1{
	color: white;
}

.social-logo{
  width:20px;
  height:20px;
  margin:0 5px;
}

.site-footer{
	clear:both;
	text-align:center;
	background-color:rgba(0, 0, 0, .90);
	color: #505E7D;
}


@media screen and (min-width:660px){

#offerings_table{

	font-size: 1.5em;
}

#offerings_table td{

	padding: 25px;

}













